body, h1, p{
    font-family:Courier New;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightskyblue;
    color: #333;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

h2 {
    background-color: #007bff;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

p {
    font-size: large;
    text-align: center;
    margin: 10px 0;
}